.login{
    display: flex;
}

.svgImage{
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.loginTitle{
    color: #7a5fee;
    align-self: center;
}

.loginImage{
    width: 600px;
    height: 600px;
    position: absolute;
    left: 5%;
    top: 23%;
}

.loginForm{
    display: grid;
    place-items: center;
    flex-basis: 40%;
}

.formCentered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonColor{
    height: 50px;
    background-color: #7a5fee !important;
}

.buttonColor:hover{
    background-color: #a797f0 !important;
}
@media  (max-width:1300px) {
    .svgImage .image {
        height: 100vh;
        width: 90vh;
    }

    .loginImage {
        height: 70%;
        width: 70%;
    }
}
@media (min-width:880px) and (max-width:1000px) {
    .svgImage .image {
        height: 100vh;
        width: 60vh;
    }
    .loginImage{
        height: 50%;
        width: 50%;
    }
    .loginForm{
        width: calc(100%-50vh);
    }
}
@media (max-width:850px){
    .svgImage{
        display: none;
        
    }
    .loginForm{
        width: 30vh;
        height: 10vh;
        position: absolute;
        left: 20%;
        right: 20%;
        top: 50%;

    }
   
    .loginForm::after{
        content: url(../../../public/Assets/login.svg);
        position: fixed;
        top: 10%;
        left: 30%;
        width: 30vh;
        height: 30vh;
        transform: translate(-60px,60px);
    }
}
/* @media (max-width:300px){
  .loginForm{
    margin-left: auto;
    margin-right: auto;
  }
  .password,.email{
        height: 10px;
        width: 200px;
        margin-top: 40px;
        margin-bottom: 10px;
  }
  .buttonColor{
    margin-top: 40px;
    width: 40%;
  }
 
} */