.adminPage {
  width: 94% !important;
  margin: 50px auto;
  gap: 4rem;
}

.tableGrid {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.tableGrid2 {
  padding: 1rem 0px;
  display: flex;
  align-items: center;
}

.tableGrid2:hover {
  border-bottom: 1px solid #dad8d8;
}

.editInput {
  border: 0;
  border-bottom: 1px solid #9e9d9d;
}

.editInput:focus {
  font-size: medium;
  outline: 0;
  border-bottom: 1px solid #9e9d9d;
}

.container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}
.title {
  margin-top: 20px;
  text-align: center;
}
tr {
  height: 40px !important;
}

th {
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
}

.App {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: center;
}