.addStudentBtn {
    display: block;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #2200ff;
    color: white;
    border: none;
    gap: 5px;
}

