.card {
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px 15px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: 2px 2px 2px #00000055;

}

.card h2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.cardSpan {
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    position: relative;
    font-size: 50px;
}