.students{
    width: 94%;
    margin: 50px auto;
}
/* .addStudentBtn{
    display: block;
    margin-left:60%;
    float:right;
    padding:10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom:30px;
} */
.studentGrid{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}
.header{
    display:flex;
    justify-content: space-between;
}
.dropdowns{
    display:flex;
    gap:10px
}
.StudentCard{
    background-color: red;
   display: inline;
   position: fixed;
   right: 10px;
}